@charset "utf-8";

$link-color: #fff;
$background-color: #333;

@mixin transition-round($pro,$time: 2s){
    -webkit-transition: $pro $time;
    -moz-transition: $pro $time;
    -ms-transition: $pro $time;
    -o-transition: $pro $time;
    transition: $pro $time;
}

a{
    color: $link-color;
    &:hover{
        color:$link-color;
        text-decoration:none;
    }
    &:focus{
        color: $link-color;
        text-decoration:none;
    }
    &:visited{
        color:$link-color;
    }
}


/*for default layout*/
html,
body{
    height:100%;
    background-color:#333;
}

body{
    color:#fff;
    text-align:center;
    text-shadow:0 1px 3px rgba(0,0,0,.5);
}

.site-wrapper{
    display:table;
    width:100%;
    height:100%;
    min-height:100%;
    -webkit-box-shadow:inset 0 0 100px rgba(0,0,0,.5);
            box-shadow:inset 0 0 100px rgba(0,0,0,.5);
}

.site-wrapper-inner{
    display:table-cell;
    vertical-align:top;
}

.wrapper{
    padding:30px;
}

/*header*/
.site-header{
    border-top:none;
    border-bottom:none;
    padding:0;
}
.site-header .site-title{
    color:$link-color;
}

.site-title{
    margin-top:10px;
    margin-bottom:10px;
}



.site-nav > .nav a.page-link{
    padding-left:0;
    padding-right:0;
    font-size:16px;
    font-weight:bold;
    color:#fff;
    color:rgba(255,255,255,.75);
    border-bottom:2px solid transparent;

    &:hover{
        color:rgba(255,255,255,1)
    }
}

.nav > li> .page-link{
    &:hover{
        background-color:transparent;
        border-bottom-color: #b5b5b5;
        border-bottom-color:rgba(255,255,255,.5);
    }

    &:focus{
        background-color:transparent;
        border-bottom-color:#b5b5b5;
        border-bottom-color:rgba(255,255,255,.5);
    }

}

//content
.content>header>h1{
    font-size:56px;
    font-family: Consolas, "Courier New", monospace;
    font-weight:bold;
    letter-spacing:-.15em;
}

#content-title b:hover{
    cursor:pointer;
}

#content-title b{
    @include transition-round(color,.5s);
}


.bumpy-char {line-height:2em;position: relative;}


#content-title b:hover{
    //color:#a94442;
}

.content p{
    font-size:18px;
    font-family:Menlo, Monaco, Consolas, "Courier New", monospace;
}

/*footer*/
.site-footer{
    border-top:none;
    padding:0;
}





//affix the page

@media screen and (min-width: 768px) {
    .site-header{
        position:fixed;
        top:0;
    }

    .site-footer{
        position:fixed;
        bottom:0;
    }

    .site-wrapper-inner{
        vertical-align:middle;
    }

    .site-header,
    .site-footer,
    .site-index-container{
        width:100%;
    }

}




