<script src="{{ "/ext_lib/jquery-3.0.0.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/ext_lib/jquery.color-2.1.2.js" | prepend: site.baseurl }}"></script>


<script src="{{ "/ext_lib/bootstrap/js/bootstrap.min.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/ext_lib/plugins/jquery.bumpytext.packed.js" | prepend: site.baseurl }}"></script>
<script src="{{ "/ext_lib/plugins/easying.js" | prepend: site.baseurl }}"></script>
{% if include.extra_js %}
<script src="{{ "/js/" | append: include.extra_js | prepend: site.baseurl }}"></script>
{% endif %}