<header class="site-header">

    <div class="wrapper">

        <a class="site-title" href="{{ site.baseurl }}/"><h3>{{ site.title }}</h3></a>

        <nav class="site-nav">

                <!--{% for my_page in site.pages %}-->
                <!--{% if my_page.title %}-->
                <!--<a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a>-->
                <!--{% endif %}-->
                <!--{% endfor %}-->
                <ul class="nav">
                    <li>
                        <a href="{{ "/article/" | prepend: site.baseurl }}" class="page-link">我的文章</a>
                    </li>
                    <li>
                        <a href="{{ "/about_me/" | prepend: site.baseurl }}" class="page-link">关于我</a>
                    </li>
                </ul>
        </nav>

    </div>

</header>
