.biaoge{
    position:absolute;
    width:81%;
    margin-left:1%;
}

.biaoge tr{
    height:40px;
    line-height:40px;
}

.biaoge table tr:nth-child(1){
    background:#666;

}

.biaogett{
    position: absolute;
    float:none;
    background-color:#EFEFEF;
    z-index: 1000;
}
.biaogett01{
    position:absolute;
    margin-left:10%;

    float:none;
    overflow: visible;
}

.biaoge01{
    overflow:visible;
}
.biaoge02{
    overflow:visible;
}
.biaoge03{
    overflow:visible;
    padding-right:10% !important;
}
.biaogett02{
    position:absolute;
    float:none;
    background-color:#EFEFEF;
    top:0;
    right:0;
}

.left{
    float:left;
}
.right{
    float:right;
}